<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="12.1.0" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net461" />
  <package id="ExtentReports" version="2.40.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="Selenium.RC" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.44.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>