<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EIDSS" connectionString="data source=192.255.34.106\NGSQLDEV1;Initial Catalog=EIDSS7_DT;Persist Security Info=True; User Id=srvcEIDSS; Password=nBZD66)" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>